@import "style/variables";

.CurrencyHeader {
  display: flex;
  background-color: black;

  &__title {
    margin: 15px;
    color: white;
  }

  &__date-time {
    margin: 15px;
    color: rgb(196, 196, 229);
  }

  &__update-button {
    margin: 10px;
  }
}
