@import "style/variables";

.CurrencyCounter {
  // margin-top: 30px;
  // background-color: rgb(255, 123, 0);
  max-width: 800px;
  margin: 0 auto;
  display: flex;

  &__title {
    // color: white;
    // background-color: rgb(173, 25, 25);
    font-weight: bold;
  }

  &__item {
    display: flex;
    margin: 1px;
    color: white;
  }

  &__number-field {
    width: 100px;
  }

  &__drop-down-field {
    width: 190px;
  }
}
