@import "style/variables";

.CurrencyConverter {
  max-width: 725px;
  margin: 0 auto;

  &__title {
    font-weight: bold;
    max-width: 165px;
    margin: 0 auto;
  }

  &__body {
    display: flex;
  }

  &__arrow {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
