@import "style/variables";

.CurrencyCounter {
  max-width: 800px;
  // display: block;
  margin: 0 auto;

  &__conteiner {
    width: 650px;
    display: block;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    margin: 5px;
  }

  &__body {
    display: flex;

    margin: 0 auto;
  }

  &__item {
    margin: 1px;
    color: white;
    display: flex;
  }

  &__number-field {
    width: 150px;
  }

  &__drop-down-field {
    width: 190px;
  }

  &__arrow {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
